@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 222.2 84% 4.9%; */
    /* --background: 201 64% 4%; */
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 218 100% 49%;
    --primary-foreground: 222.2 47.4% 11.2%;
    /* --primary: 217 100% 50%;
    --primary-foreground: 210 40% 98%; */

    --secondary: 210 40% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    --navbar-height: 5rem;

    --swiper-pagination-color: theme("colors.orange.500");
    --swiper-pagination-bullet-inactive-color: hsl(var(--foreground));
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 0.75rem;
    --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  .text-gradient {
    @apply bg-clip-text bg-gradient-to-b text-transparent from-primary to-[#5590FA];
  }

  .background-gradient {
    @apply bg-gradient-to-r from-blue-400 to-blue-600;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
